<h1><%= @article.title %></h1>

<h2><%= @article.body %></h2>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Do you want to delete?"
                  } %></li>
</ul>

<p>Comments</p>
<%= render @article.comments %>

<p>Add a comment:</p>
<%= render 'comments/form' %>
